
JsApps/node_modules/.bin/loose-envify.cmd
JsApps/node_modules/.bin/loose-envify
JsApps/node_modules/.bin/create-react-app.ps1
JsApps/node_modules/.bin/create-react-app.cmd
JsApps/node_modules/.bin/create-react-app
JsApps/my-app/vite.config.js
JsApps/my-app/svelte.config.js
JsApps/my-app/static/favicon.png
JsApps/my-app/src/routes/components/counter.svelte
JsApps/my-app/.eslintignore
JsApps/my-app/.eslintrc.cjs
JsApps/my-app/.npmrc
JsApps/my-app/.prettierignore
JsApps/my-app/.prettierrc
JsApps/my-app/jsconfig.json
JsApps/my-app/package-lock.json
JsApps/my-app/package.json
JsApps/my-app/README.md
JsApps/my-app/src/app.d.ts
JsApps/my-app/src/app.html
JsApps/node_modules/.bin/loose-envify.ps1
JsApps/node_modules/.bin/semver
JsApps/node_modules/.bin/semver.cmd
JsApps/node_modules/.bin/semver.ps1
JsApps/node_modules/.bin/which
JsApps/node_modules/.bin/which.cmd
JsApps/node_modules/.bin/which.ps1
JsApps/node_modules/.package-lock.json
JsApps/node_modules/ansi-regex/index.js
JsApps/node_modules/ansi-regex/license
JsApps/node_modules/ansi-regex/package.json
JsApps/node_modules/ansi-regex/readme.md
JsApps/node_modules/ansi-styles/index.js
JsApps/node_modules/ansi-styles/license
JsApps/node_modules/ansi-styles/package.json
JsApps/node_modules/ansi-styles/readme.md
JsApps/node_modules/builtins/.travis.yml
JsApps/node_modules/builtins/builtins.json
JsApps/node_modules/builtins/History.md
JsApps/node_modules/builtins/License
JsApps/node_modules/builtins/package.json
JsApps/node_modules/builtins/Readme.md
JsApps/node_modules/builtins/test.js
JsApps/node_modules/chalk/index.js
JsApps/node_modules/chalk/license
JsApps/node_modules/chalk/package.json
JsApps/node_modules/chalk/readme.md
JsApps/node_modules/commander/CHANGELOG.md
JsApps/node_modules/commander/index.js
JsApps/node_modules/commander/LICENSE
JsApps/node_modules/commander/package.json
JsApps/node_modules/commander/Readme.md
JsApps/node_modules/commander/typings/index.d.ts
JsApps/node_modules/create-react-app/index.js
JsApps/node_modules/create-react-app/package.json
JsApps/node_modules/create-react-app/README.md
JsApps/node_modules/cross-spawn/index.js
JsApps/node_modules/cross-spawn/lib/enoent.js
JsApps/node_modules/cross-spawn/lib/hasBrokenSpawn.js
JsApps/node_modules/cross-spawn/lib/parse.js
JsApps/node_modules/cross-spawn/lib/resolveCommand.js
JsApps/node_modules/cross-spawn/LICENSE
JsApps/node_modules/cross-spawn/package.json
JsApps/node_modules/cross-spawn/README.md
JsApps/node_modules/escape-string-regexp/index.js
JsApps/node_modules/escape-string-regexp/license
JsApps/node_modules/escape-string-regexp/package.json
JsApps/node_modules/escape-string-regexp/readme.md
JsApps/node_modules/fs-extra/.npmignore
JsApps/node_modules/fs-extra/CHANGELOG.md
JsApps/node_modules/fs-extra/lib/copy-sync/copy-file-sync.js
JsApps/node_modules/fs-extra/lib/copy-sync/copy-sync.js
JsApps/node_modules/fs-extra/lib/copy-sync/index.js
JsApps/node_modules/fs-extra/lib/copy/copy.js
JsApps/node_modules/fs-extra/lib/copy/index.js
JsApps/node_modules/fs-extra/lib/copy/ncp.js
JsApps/node_modules/fs-extra/lib/empty/index.js
JsApps/node_modules/fs-extra/lib/ensure/file.js
JsApps/node_modules/fs-extra/lib/ensure/index.js
JsApps/node_modules/fs-extra/lib/ensure/link.js
JsApps/node_modules/fs-extra/lib/ensure/symlink-paths.js
JsApps/node_modules/fs-extra/lib/ensure/symlink-type.js
JsApps/node_modules/fs-extra/lib/ensure/symlink.js
JsApps/node_modules/fs-extra/lib/index.js
JsApps/node_modules/fs-extra/lib/json/index.js
JsApps/node_modules/fs-extra/lib/json/jsonfile.js
JsApps/node_modules/fs-extra/lib/json/output-json-sync.js
JsApps/node_modules/fs-extra/lib/json/output-json.js
JsApps/node_modules/fs-extra/lib/mkdirs/index.js
JsApps/node_modules/fs-extra/lib/mkdirs/mkdirs-sync.js
JsApps/node_modules/fs-extra/lib/mkdirs/mkdirs.js
JsApps/node_modules/fs-extra/lib/mkdirs/win32.js
JsApps/node_modules/fs-extra/lib/move/index.js
JsApps/node_modules/fs-extra/lib/output/index.js
JsApps/node_modules/fs-extra/lib/remove/index.js
JsApps/node_modules/fs-extra/lib/remove/rimraf.js
JsApps/node_modules/fs-extra/lib/util/assign.js
JsApps/node_modules/fs-extra/lib/util/utimes.js
JsApps/node_modules/fs-extra/lib/walk-sync/index.js
JsApps/node_modules/fs-extra/lib/walk/index.js
JsApps/node_modules/fs-extra/LICENSE
JsApps/node_modules/fs-extra/package.json
JsApps/node_modules/fs-extra/README.md
JsApps/node_modules/graceful-fs/clone.js
JsApps/node_modules/graceful-fs/graceful-fs.js
JsApps/node_modules/graceful-fs/legacy-streams.js
JsApps/node_modules/graceful-fs/LICENSE
JsApps/node_modules/graceful-fs/package.json
JsApps/node_modules/graceful-fs/polyfills.js
JsApps/node_modules/graceful-fs/README.md
JsApps/node_modules/has-ansi/index.js
JsApps/node_modules/has-ansi/license
JsApps/node_modules/has-ansi/package.json
JsApps/node_modules/has-ansi/readme.md
JsApps/node_modules/isexe/.npmignore
JsApps/node_modules/isexe/index.js
JsApps/node_modules/isexe/LICENSE
JsApps/node_modules/isexe/mode.js
JsApps/node_modules/isexe/package.json
JsApps/node_modules/isexe/README.md
JsApps/node_modules/isexe/test/basic.js
JsApps/node_modules/isexe/windows.js
JsApps/node_modules/js-tokens/CHANGELOG.md
JsApps/node_modules/js-tokens/index.js
JsApps/node_modules/js-tokens/LICENSE
JsApps/node_modules/js-tokens/package.json
JsApps/node_modules/js-tokens/README.md
JsApps/node_modules/jsonfile/.npmignore
JsApps/node_modules/jsonfile/appveyor.yml
JsApps/node_modules/jsonfile/CHANGELOG.md
JsApps/node_modules/jsonfile/index.js
JsApps/node_modules/jsonfile/LICENSE
JsApps/node_modules/jsonfile/package.json
JsApps/node_modules/jsonfile/README.md
JsApps/node_modules/klaw/.npmignore
JsApps/node_modules/klaw/CHANGELOG.md
JsApps/node_modules/klaw/LICENSE
JsApps/node_modules/klaw/package.json
JsApps/node_modules/klaw/README.md
JsApps/node_modules/klaw/src/assign.js
JsApps/node_modules/klaw/src/index.js
JsApps/node_modules/loose-envify/cli.js
JsApps/node_modules/loose-envify/custom.js
JsApps/node_modules/loose-envify/index.js
JsApps/node_modules/loose-envify/LICENSE
JsApps/node_modules/loose-envify/loose-envify.js
JsApps/node_modules/loose-envify/package.json
JsApps/node_modules/loose-envify/README.md
JsApps/node_modules/loose-envify/replace.js
JsApps/node_modules/lru-cache/index.js
JsApps/node_modules/lru-cache/LICENSE
JsApps/node_modules/lru-cache/package.json
JsApps/node_modules/lru-cache/README.md
JsApps/node_modules/pseudomap/LICENSE
JsApps/node_modules/pseudomap/map.js
JsApps/node_modules/pseudomap/package.json
JsApps/node_modules/pseudomap/pseudomap.js
JsApps/node_modules/pseudomap/README.md
JsApps/node_modules/pseudomap/test/basic.js
JsApps/node_modules/react/cjs/react-jsx-dev-runtime.development.js
JsApps/node_modules/react/cjs/react-jsx-dev-runtime.production.min.js
JsApps/node_modules/react/cjs/react-jsx-dev-runtime.profiling.min.js
JsApps/node_modules/react/cjs/react-jsx-runtime.development.js
JsApps/node_modules/react/cjs/react-jsx-runtime.production.min.js
JsApps/node_modules/react/cjs/react-jsx-runtime.profiling.min.js
JsApps/node_modules/react/cjs/react.development.js
JsApps/node_modules/react/cjs/react.production.min.js
JsApps/node_modules/react/cjs/react.shared-subset.development.js
JsApps/node_modules/react/cjs/react.shared-subset.production.min.js
JsApps/node_modules/react/index.js
JsApps/node_modules/react/jsx-dev-runtime.js
JsApps/node_modules/react/jsx-runtime.js
JsApps/node_modules/react/LICENSE
JsApps/node_modules/react/package.json
JsApps/node_modules/react/react.shared-subset.js
JsApps/node_modules/react/README.md
JsApps/node_modules/react/umd/react.development.js
JsApps/node_modules/react/umd/react.production.min.js
JsApps/node_modules/react/umd/react.profiling.min.js
JsApps/node_modules/semver/bin/semver
JsApps/node_modules/semver/LICENSE
JsApps/node_modules/semver/package.json
JsApps/node_modules/semver/range.bnf
JsApps/node_modules/semver/README.md
JsApps/node_modules/semver/semver.js
JsApps/node_modules/strip-ansi/index.js
JsApps/node_modules/strip-ansi/license
JsApps/node_modules/strip-ansi/package.json
JsApps/node_modules/strip-ansi/readme.md
JsApps/node_modules/supports-color/index.js
JsApps/node_modules/supports-color/license
JsApps/node_modules/supports-color/package.json
JsApps/node_modules/supports-color/readme.md
JsApps/node_modules/validate-npm-package-name/.npmignore
JsApps/node_modules/validate-npm-package-name/.nyc_output/aa4ee25ac41a9c3c7ee37ce965e6d1ac.json
JsApps/node_modules/validate-npm-package-name/.nyc_output/bb918173e62b9517f55b630902d07ef4.json
JsApps/node_modules/validate-npm-package-name/.travis.yml
JsApps/node_modules/validate-npm-package-name/index.js
JsApps/node_modules/validate-npm-package-name/LICENSE
JsApps/node_modules/validate-npm-package-name/package.json
JsApps/node_modules/validate-npm-package-name/README.md
JsApps/node_modules/validate-npm-package-name/test/index.js
JsApps/node_modules/which/bin/which
JsApps/node_modules/which/CHANGELOG.md
JsApps/node_modules/which/LICENSE
JsApps/node_modules/which/package.json
JsApps/node_modules/which/README.md
JsApps/node_modules/which/which.js
JsApps/node_modules/yallist/iterator.js
JsApps/node_modules/yallist/LICENSE
JsApps/node_modules/yallist/package.json
JsApps/node_modules/yallist/README.md
JsApps/node_modules/yallist/yallist.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp
.cache

# Docusaurus cache and generated files
.docusaurus

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
chatgpt1.js
openai-test.js
primes.py
math test.py
